<h1>New Survey</h1>

<%= form_with(model: @survey, url: surveys_path, local: true) do |form| %>

  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2>Ya blew it kid:</h2>
      <ul>
        <% @survey.errors.full_messages.each do |msg| %>
          <li><%= msg.gsub("Response ", "") %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :participant %><br>
    <%= form.text_field :participant %>
  </p>
<table>
  <tr>
    <th>Name</th>
    <th>Drinks?</th>
    <th>Brunch?</th>
    <th>Wanna go?</th>
  </tr>
  <%Restaurant.all.each do |restaurant|%>
  <tr>
    <td><%= form.label restaurant.name%></td>
    <td><%= restaurant.drinks ? "✓" : "X"  %></td>
    <td><%= restaurant.brunch ? "✓" : "X"  %></td>
    <td><%= form.check_box :response, {multiple: true}, restaurant.id, nil%></td>
  </tr>
  <%end%>

</table>

  <p>
    <%= form.submit "Submit" %>
  </p>

<% end %>

<%= link_to 'Home', home_path %>
