<h1>Restaurants</h1>
<table>
  <tr>
    <th><%= link_to 'Name', restaurants_path %></th>
    <th><%= link_to 'Distance?', restaurants_path(sort: 'distance') %></th>
    <th><%= link_to 'Drinks?', restaurants_path(sort: 'drinks') %></th>
    <th><%= link_to 'Brunch?', restaurants_path(sort: 'brunch') %></th>
    <th>Website</th>
    <th>Actions</th>

    <th></th>
  </tr>
  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.distance %></td>
      <td><%= restaurant.drinks ? "âœ“" : "X"  %></td>
      <td><%= restaurant.brunch ? "âœ“" : "X"  %></td>
      <td><%= link_to "ðŸ†", restaurant.website, target: "blank" %></td>
      <td>
        <%= link_to 'ðŸ”', restaurant_path(restaurant) %>
        <%= link_to 'ðŸ“', edit_restaurant_path(restaurant) %>
        <%= link_to 'ðŸ—‘', restaurant_path(restaurant),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>


<%= link_to 'New Restaurant', new_restaurant_path %><br>
