<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @restaurant.distance %>
</p>
<p>
  <strong>Drinks?:</strong>
  <%= @restaurant.drinks ? "✓" : "X"  %>
</p>
<p>
  <strong>Brunch?:</strong>
  <%= @restaurant.brunch ? "✓" : "X"  %>
</p>

<p>
  <strong>Website:</strong>
  <%= @restaurant.website %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @restaurant.notes %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %><br>
<%= link_to 'Back to List', restaurants_path %>
